@import './theme/font.scss';
@import './theme/layout';

.welcome {
  font-family: $primary-font;
  font-size: 17px;
  text-align: center;
  .text {
    color: rgb(29, 71, 171);
  }
}

.container {
  @include screen;
  padding: 16px 32px;
}

%inputText {
  font-size: 14px;
  font-family: $primary-font;
  line-height: 24px;
}

.input {
  @extend %inputText;
  padding: 4px 12px;
  margin: 16px 0px;
  height: 80px;
  //border: 1px solid #cccccc;
  border: {
    color: #cccccc;
    width: 1px;
    style: solid;
    radius: 2px;
  }
}

.button {
  width: 100%;
  margin-top: 24px;
}

.button-disabled {
  @extend .button;
  background-color: #dddddd;
}
